In [1]:
# DemoPandas_2.ipynb
from pandas import Series, DataFrame
import pandas as pd

!type c:\work\ex1.csv

id, name, price, description
1, iphone, 890000, iphone 6s 7 8 x
2, android, 990000, samsung phone
3, winphone, 450000, microsoft winphone

In [4]:
df = pd.read_csv(r"c:\work\ex1.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3 non-null      int64
 1    name         3 non-null      object
 2    price        3 non-null      int64
 3    description  3 non-null      object
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes

In [5]:
!type c:\work\ex3.txt

data1 data2 data3
1.2     2.3     1.3
0.1     1.5     2.5
3.1     3.2     3.3

In [8]:
df3 = pd.read_table(r"c:\work\ex3.txt", sep="\s+")
df3

   data1  data2  data3
0    1.2    2.3    1.3
1    0.1    1.5    2.5
2    3.1    3.2    3.3